.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.navigator {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navigatorButton {
  font-size: medium;
  color: green;
}

.navigatorButton:hover {
  font-size: large;
  color: lightgreen;
}
